<div>
  <section class="hero">
    <h1>配達ルート管理アプリ</h1>
    <p>配達ルートを登録・管理できます。</p>

    <div class="search-town">
      <h2><i class="fa-solid fa-magnifying-glass"></i>町を検索する</h2>

      <%= form_with url: towns_path, method: :get, local: true, class: "search-form" do |f| %>
        <%= f.text_field :name, placeholder: "町名を入力してください" %>
        <%= f.submit "検索", class: "search-btn" %>
      <% end %>
    </div>
  </section>

  <section class="menu-grid">

    <%= link_to towns_path, class: "menu-card" do %>
      <div class="icon">📋</div>
      <h3>町一覧</h3>
      <p>登録されている町の一覧</p>
    <% end %>

    <%= link_to new_town_path, class: "menu-card" do %>
      <div class="icon">➕</div>
      <h3>町登録</h3>
      <p>新しい町を追加</p>
    <% end %>

    <% if logged_in? %>
      <%= link_to user_path(current_user), class: "menu-card" do %>
        <div class="icon">👤</div>
        <h3>マイページ</h3>
        <p>ユーザー情報</p>
      <% end %>
    <% else %>
      <%= link_to login_path, class: "menu-card" do %>
        <div class="icon">👤</div>
        <h3>マイページ</h3>
        <p>ユーザー情報</p>
      <% end %>
    <% end %>

    <% if logged_in? %>
      <%= link_to logout_path, data: { turbo_method: :delete }, class: "menu-card" do %>
        <div class="icon">🔒</div>
        <h3>ログアウト</h3>
        <p>アカウントをログアウト</p>
      <% end %>
    <% else %>
      <%= link_to login_path, class: "menu-card" do %>
        <div class="icon">🔐</div>
        <h3>ログイン</h3>
        <p>アカウントにログイン</p>
      <% end %>
    <% end %>
  </section>
</div>