<h1>ルート編集</h1>

<%= form_with model: [@town, @route] do |form| %>

  <div>
    <%= form.label :name, "ルート名" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, "説明" %><br>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.submit "更新" %>
  </div>

<% end %>

<%= link_to "戻る", town_path(@town) %>

<%= button_to "削除", [@town, @route],
      method: :delete,
      data: { confirm: "このルートを削除しますか？" } %>