<h1>ルート登録</h1>

<%= form_with model: [@town, @route] do |f| %>

  <div>
    <%= f.label :name, "ルート名" %><br>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :description, "説明" %><br>
    <%= f.text_area :description %>
  </div>

  <input type="hidden" id="points_json" name="points_json">
  
  <h3>経由地点</h3>
  <div id="points"></div>
  <ul id="points-list"></ul>

  <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>

  <div>
    <%= f.submit "登録する" %>
  </div>

<% end %>

<div id="map" style="height: 500px;"></div>

<%= javascript_include_tag "map_route" %>

<script
src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google_maps_api_key %>&callback=initMapNew"
defer>
</script>
