<h1><%= @route.name %></h1>

<p><%= @route.description %></p>

<%= google_maps_link(@points) %>

<div id="map" style="height: 500px;"></div>

<!-- javascript読み込み -->
<%= javascript_include_tag "map_route" %>

<script>
  window.routePoints = <%= raw @points.to_json %>;

  window.initMap = function () {
    initMapShow(window.routePoints);
  };
</script>

<script
  src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google_maps_api_key %>&callback=initMap"
  defer>
</script>

<%= link_to "編集", edit_town_route_path(@town, @route) %>

<%= link_to "一覧へ戻る", town_path(@town) %>
