<h1>町名を編集</h1>

<%= form_with model: @town do |f| %>
    <div>
        <%= f.label :name, "町名" %>
        <%= f.text_field :name %>
    </div>

    <div>
        <%= f.label :description, "説明" %>
        <%= f.text_field :description %>
    </div>

    <div>
        <%= f.submit "更新" %>
    </div>
<% end %>

<%= link_to "戻る", town_path(@town) %>

<%= button_to "この町を削除", @town, method: :delete %>