<div>
  <div class="towns-top">
      <h2><i class="fa-solid fa-magnifying-glass"></i>町を検索する</h2>
      <section class="search-town">

          <%= form_with url: towns_path, method: :get, local: true, class: "search-form" do |f| %>
            <%= f.text_field :name, placeholder: "町名を入力してください" %>
            <%= f.submit "検索", class: "search-btn" %>
          <% end %>
      </section>
  </div>

  <section class="towns-index">
    <h1><i class="fa-solid fa-flag"></i>町一覧</h1>

    <ul class="index">
      <% @towns.each do |town| %>
        <li>
          <%= link_to town_path(town), class: "btn-main" do %>
            <%= town.name %>
          <% end %>
        </li>
      <% end %>
    </ul>

    <div class="towns-bottom">
      <%= link_to "町を登録する", new_town_path, class: "btn-add" %>
      <%= link_to "戻る", root_path, class: "btn-back" %>
    </div>
  </section>
</div>
