<h1>町を登録</h1>

<%= form_with model: @town do |f| %>

  <div>
    <%= f.label :name, "町名" %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :description, "説明" %>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.submit "登録" %>
  </div>

<% end %>

<%= link_to "戻る", towns_path %>
