<div class="sidebar-inner">
  <h3>配達ルート管理</h3>

  <nav>
    <%= link_to "ダッシュボード", root_path %>
    <%= link_to "町一覧", towns_path %>
    <%= link_to "ルート一覧", "#" %>
    <%= link_to "マイページ", "#" %>
    <%= link_to "設定", "#" %>
  </nav>
</div>